/* ---------------------------------------------------------------------------------------- */
body{
	width: 100%;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------------------- */
.container{
	width: 100%;
	background-color: #2e3192;
	height: 5px;
	margin: 0 auto;
	padding-top: 0px;
}
/* -------------------------------------------------------------------------------- */

.clear{
	clear: both;
}
.nav-bar{
	width: 100%;
	height: 50px;
}


.nav-bar > ul{
	text-align: right;
}

.nav-bar > ul > li {
	width: 150px;
	line-height: 2em;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.nav-bar >ul >li > a{
	text-decoration: none;
	color: #ef4136;
	display: block;
	border-right: 1px solid red
}
.nav-bar >ul >li:last-child > a{
	border-right: none;
}
.nav-bar >ul >li > a:hover{
	box-shadow: 0px 0px 5px 5px rgba(20, 0, 0,0.103); 
	transition: 1s;
}
/* --------------------------------------------------------------------------------------------------------------- */
.logo h2{
	color: #2e3192;
	position: relative;
	bottom: 380px;
left: -480px;
line-height: 3em;
font-size: 1.7em;
	
}
.logo img{
	width: 35px;
	height: 35px;
	position: relative;
	bottom: 50px;
	left: 30px;
}
/* --------------------------------------------------------------------------------------------------------------- */
.sub-nav{
	width: 100%;
	height:5px;
	background-color: #2e3192;
}

/* =------------------------------------------------------------------------------------------------------------- */

.wrapper{
	width: 100%;
	background:#ccc url(../image/122.jpg) no-repeat;
	background-size: cover;
	
		

}
/* ----------------------------------------------------------------------------------------------------------------------- */
.image{
	width: 100%;
	margin: 0 auto;
}
.cook{
	width: 100%;
	height: 500px;
	margin: 0 auto;
}

h2{
	text-align: center;
	color: white;
	padding: 20% 0 0 0;
	margin:0;
	font-size: 4em;
	
	/*position: relative;
	bottom: 300px;
	letter-spacing: 10px;*/
}

.wrapper-data{
	
}
.wrapper-data p{
	text-align: center;
	color: white;
	padding:0 0 20% 0;
	font-size: 1.5em;
	margin:0;
	/*position: relative;
	bottom: 295px;*/
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.ourvision{
	background-color: #2e3192;
	padding-top: 5px;
}
.ourvision h1{
	color: white;
	text-align: center;

}
.visioninfo{
	width: 100%;
	padding-top: 0px;
	color: #fbfbfd;
	padding-bottom: 10px;
	
}
.visioninfo p{
	text-align: center;
;
}



/* ------------------------------------------------------------------------------------------------------------------------------------- */

.ourmission{
	width: 100%;
	padding-top: 0px;
	color: #2e3192;
	padding-bottom: 10px;
	padding-top: 10px;


}

.ourmission h1{
	color: white;
	text-align: center;
	color: #2e3192;


}
.missioninfo{
	width: 50%;
	margin: 0 auto;

}
.missioninfo p{
	text-align: center;
	/* font-family: 'Times New Roman', Times, serif; */
	font-weight: 5500;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
.services{
	width: 100%;
	background-color: #2e3192;
}
.services-data h3{
	text-align: center;
	color: white;
	position: relative;
	padding: 50px 0 50px 0;	
	margin:0px
}

.services-data p{
	text-align: center;
	color: white;
	position: relative;
	padding-bottom: 20px;
	
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.team{
	width: 100%
}

.about-data{
	width: 25%;
	margin: 0 auto;
	float: left;
	margin: 25px;
	position: relative;
	left: 100px;

}

.about-data img{
	width: 100%; 
	max-height: 350px;
	border-radius: 150px;
	transition: 1s;
	box-shadow: 0px 0px 2px 2px rgba(20, 0, 0,0.103);
v
}
.about-data p{
	position: relative;
	left: 80px;
}
.about-data h5{
	position: relative;
	left: 100px;
}
.heading1{
	text-align: center;
}
/* --------------------------------------------------------------------------------------------------------------------- */
.contact{
	width: 100%;
}



/* ------------------------------------------------------------------------------------------------------------------------- */
.footer{
	width: 100%;
	height: 50px;
	background-color:  #2e3192;
}

.footer p{
	text-align: center;
	color: white;
	line-height: 3em;
}

/* ------------------------------------------------------------------------------------------- */
.button{
	width: 100%;
	height: 100px;
}
#myBtn{
	display: none; 
    position: fixed; 
    bottom: 70px; 
    right: 50px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: red; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
}
#myBtn:hover {
    background-color: #555;
}
/* ---------------------------------------------------------------------------------------------------------- */
